<div class="modal-content">
    <h4>Questão</h4>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <input id="pergunta" type="text" ng-model="parent.form.pergunta" class="validate">
                        <label for="pergunta">Pergunta</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="input-field">
                        <input id="nome" type="text" ng-model="parent.form.nome" class="validate">
                        <label for="nome">Nome do Campo</label>
                    </div>
                </div>
                <div class="col s6">
                    <div class="input-field">
                        <select id="campo_t" material-select ng-model="parent.form.campo_t" class="validate">
                            <option value="" disabled selected></option>
                            <option value="Checkbox">Multiplas respostas</option>
                            <option value="Radiobox">Apenas uma resposta</option>
                        </select>
                        <label for="campo_t">Tipo de Campo</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s10">
                    <div class="input-field">
                        <input id="resposta" type="text" ng-model="parent.resposta" class="validate">
                        <label for="resposta">Resposta</label>
                    </div>
                </div>
                <div class="col s2">
                    <a class="waves-effect btn-floating" ng-click="parent.addResponse()"><i class="mdi-content-add"></i></a>
                    <a class="waves-effect btn-floating right" ng-click="parent.removeResponse()"><i class="mdi-content-remove"></i></a>
                </div>
                <div class="col s12">
                    <ul class="collection">
                        <li ng-repeat="r in parent.form.respostas" class="collection-item" ng-click="parent.resposta = r" ng-class="{active:parent.resposta==r}">{{r}}</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a class="waves-effect waves-light btn" ng-click="parent.save() && close()">Salvar</a>
    <a href="#!" class="waves-effect btn-flat" ng-click="(parent.form = {}) && close()">Fechar</a>
</div>
